.box {
  border-radius: 2px solid green;
  margin: 2em;
  color: black;
  padding-top: 2em;
}

.card-for {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
  width: 40%;
  margin: auto;

}
